# --- DATABASE SETTINGS ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=db
POSTGRES_DB_PORT=5432
POSTGRES_DB=cinema_db

REDIS_HOST=redis
REDIS_PORT=6379
# --- APP SETTINGS ---
PROJECT_NAME="Online Cinema API"

# --- JWT SETTINGS ---
SECRET_KEY_ACCESS=your_secret_key_access
SECRET_KEY_REFRESH=your_secret_key_refresh

# --- EMAIL SETTINGS ---
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=test@test.com
EMAIL_HOST_PASSWORD=password
EMAIL_USE_TLS=False

# --- S3 STORAGE ----
S3_STORAGE_HOST=minio
S3_STORAGE_PORT=9000
S3_STORAGE_ACCESS_KEY=minioadmin
S3_STORAGE_SECRET_KEY=minioadmin
S3_BUCKET_NAME=cinema-storage

# --- SWAGGER ----
SWAGGER_USER=user
SWAGGER_PASSWORD=your_super_secret_password